// application variables

$itemMargin: 10px;
$itemHeight: 26px;

$headerHeight: $itemHeight + $itemMargin * 2;

$colorBorderDark: #ddd;
$colorBorderLight: #eee;

$tabSystemSideWidth: 210px;

//$headerHeight: 25px;
