/* spa-app: release */
html, body {
    height: 100%;
    width: 100%;
    font-size: 14px;
    font-family: arial, sans-serif;
    overflow: hidden;
    margin: 0;
    padding: 0; }

table {
    border: 0;
    border-collapse: collapse;
    border-spacing: 0; }
    table td {
        padding: 0; }

.maxh {
    height: 100%; }

.maxw {
    width: 100%; }

a {
    text-decoration: none; }

/* spa-app: develop */
body.develop {
    outline: 1px solid yellow;
    outline-offset: -1px; }

/* spa-component: release */
.component {
    box-sizing: border-box; }
    .component.hidden {
        display: none !important; }

/* spa-component: develop */
body.develop .component {
    outline: 1px dashed #005000;
    outline-offset: -1px; }
    body.develop .component.focus {
        outline: 1px dashed red; }

/* spa-component-button: release */
.component.button {
    background-color: #dde9ff;
    display: inline-table;
    height: 32px;
    cursor: pointer; }
    .component.button:hover {
        background-color: #bbd3ff; }
    .component.button.focus {
        background-color: #bbd3ff; }
    .component.button.click {
        background-color: #a8c9ff; }
    .component.button .icon {
        height: 32px;
        width: 32px;
        display: table-cell;
        background: no-repeat center center; }
    .component.button .text {
        display: table-cell;
        padding: 2px 10px;
        vertical-align: middle;
        text-align: center; }
        .component.button .text:empty {
            padding: 0; }

/* spa-component-page: release */
.component.page {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    visibility: hidden;
    overflow: hidden; }
    .component.page.active {
        visibility: inherit; }

/* spa-component-tab-item: release */
.component.tabItem {
    position: absolute;
    visibility: inherit;
    width: inherit;
    height: inherit; }
    .component.tabItem.hidden {
        visibility: hidden; }

/* application: develop */
.component.button {
    background-color: #f4f4f4;
    border: 1px solid #ddd; }
    .component.button .focus {
        background-color: #f4f4f4; }
    .component.button:hover {
        background-color: #f7f7ff; }

#pageInit {
    display: table; }
    #pageInit > .cell {
        display: table-cell;
        position: relative;
        text-align: center;
        vertical-align: middle;
        font-size: 150%; }
        #pageInit > .cell > .version {
            position: absolute;
            bottom: 50px;
            right: 50px;
            font-size: 50%; }

.component.button {
    height: inherit;
    width: 26px;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #f4f4f4; }

#pageMain {
    box-sizing: border-box; }
    #pageMain > .content {
        position: absolute;
        top: 47px;
        bottom: 0;
        left: 0;
        right: 0; }
        #pageMain > .content > table {
            width: 100%;
            height: 100%;
            border-collapse: separate;
            border-spacing: 10px; }
            #pageMain > .content > table td.line {
                height: 28px; }
                #pageMain > .content > table td.line > input {
                    box-sizing: border-box;
                    outline: none;
                    border: 1px solid #ddd;
                    font-size: 14px;
                    height: inherit; }
                    #pageMain > .content > table td.line > input:focus {
                        background-color: #fffff4; }
                    #pageMain > .content > table td.line > input.code {
                        font-family: monospace;
                        font-size: 13px; }
            #pageMain > .content > table td.side {
                width: 210px;
                position: relative; }
            #pageMain > .content > table td.logs {
                position: relative; }
    #pageMain .group {
        border: 1px solid #ddd;
        margin-bottom: 15px; }
        #pageMain .group > .title {
            height: 28px;
            line-height: 28px;
            background-color: #faffd7;
            padding: 0 10px;
            border-bottom: 1px solid #ddd;
            font-size: 18px;
            text-align: center; }
        #pageMain .group .button {
            height: 26px;
            line-height: 26px;
            border: 1px solid #ddd;
            background-color: #ddd;
            margin: 1px;
            padding: 0 5px;
            cursor: pointer;
            display: inline-block; }
            #pageMain .group .button.main {
                font-weight: bold; }
            #pageMain .group .button.default {
                font-style: italic; }
            #pageMain .group .button.develop {
                text-decoration: underline; }
            #pageMain .group .button.running {
                background-color: #caffc2; }
            #pageMain .group .button:hover {
                background-color: #ddd; }
                #pageMain .group .button:hover.running {
                    background-color: #84ff92; }

#pageMainHeader {
    background-color: #f4f4f4;
    border-bottom: 1px solid #ddd;
    height: 46px;
    position: relative; }

#pageMainTabList {
    position: absolute;
    bottom: -1px;
    left: 10px; }
    #pageMainTabList > .item {
        height: 34px;
        line-height: 34px; }

#pageMainHeaderLink {
    float: right;
    line-height: 32px; }

#pageMainTabTarget {
    display: none; }

#pageMainTabToolBar {
    height: 24px;
    line-height: 24px;
    border: 1px solid #ddd;
    padding: 0 5px;
    background-color: #fdfdfd; }
    #pageMainTabToolBar a {
        margin-right: 10px; }

#pageMainTabInput {
    position: absolute;
    bottom: 5px;
    width: inherit;
    display: block; }

#pageMainTabConsole {
    position: absolute;
    top: 68px;
    bottom: 30px;
    left: 5px;
    right: 5px; }

#pageMainSwitchRunning {
    height: 100%;
    width: 28px;
    cursor: pointer;
    border: 1px solid #ddd;
    display: inline-block;
    float: left;
    margin-right: 10px;
    background: #fdfdfd url("https://cdn0.iconfinder.com/data/icons/duesseldorf/16/process.png") no-repeat center center; }
    #pageMainSwitchRunning:hover {
        background-color: #f7f7ff; }

#pageMainTaskFilter {
    background: url("https://cdn4.iconfinder.com/data/icons/small-n-flat/24/search-16.png") no-repeat 6px center;
    padding: 0 5px 0 26px;
    width: 170px; }

#pageMainTaskLogs {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto; }

#pageMainTabTargetList {
    display: none;
    /*position: absolute;
    top: 78px;
    bottom: 47px;
    left: 5px;
    right: 5px;
    overflow: auto;
    //height: 100%;

    border: 1px solid $colorBorderDark;
    //height: 100%;

    .item {
        font-size: 13px;
        //padding: 3px;
        height: 24px;
        border-bottom: 1px solid $colorBorderDark;

        &:hover {
            background-color: $colorHover;
        }

        &:first-of-type {
            //border-bottom: none;
        }

        &.fail {
            background-color: #fff0f0;
        }

        &.warn {
            background-color: #fffff0;
        }

        > .info {
            height: 24px;
            line-height: 24px;
            padding: 0 5px;
            font-family: monospace;
            overflow: hidden;
        }

        > .tag {
            cursor: pointer;
            height: 18px;
            line-height: 18px;
            float: right;
            background-color: #f4fff4;
            border: 1px solid $colorBorderDark;
            padding: 0 6px;
            margin: 2px 2px 2px 0;

            &:hover {
                background-color: #bfdfff;
                border-color: #bfdfff;
            }
        }
    }*/ }

/* spa-component-list: release */
.component.console {
    overflow: auto;
    border: 1px solid #ddd; }
    .component.console .item {
        font-size: 13px;
        height: 26px;
        border-bottom: 1px solid #eee;
        padding-left: 28px; }
        .component.console .item.fail {
            background-color: #fff0f0; }
        .component.console .item.warn {
            background-color: #fffff0; }
        .component.console .item.data {
            background: url("https://cdn0.iconfinder.com/data/icons/feather/96/square-add-16.png") no-repeat 6px center; }
        .component.console .item > .time {
            color: #777;
            float: left;
            height: 26px;
            line-height: 26px; }
        .component.console .item > .info {
            height: 26px;
            line-height: 26px;
            padding: 0 5px 0 8px;
            font-family: monospace;
            overflow: hidden; }
        .component.console .item > .tag {
            cursor: pointer;
            height: 20px;
            line-height: 20px;
            float: right;
            border: 1px solid #eee;
            background: #f4fff4 url("https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-circle-outline-16.png") no-repeat 3px center;
            border-radius: 10px 0 0 10px;
            padding: 0 6px 0 22px;
            margin: 2px 2px 2px 0; }
            .component.console .item > .tag:hover {
                background-color: #bfdfff;
                border-color: #bfdfff; }
        .component.console .item:hover {
            background-color: #f7f7ff; }
    .component.console > input {
        font-family: monospace;
        border: none;
        outline: none;
        width: 100%; }

/* spa-component-list: release */
.component.tabList {
    display: inline-block; }
    .component.tabList .item {
        display: inline-block;
        height: 24px;
        line-height: 24px;
        border: 1px solid #ddd;
        border-left: none;
        cursor: pointer;
        background: url("https://cdn3.iconfinder.com/data/icons/sweetiev3/png-8/16-circle-red.png") no-repeat 10px center;
        padding: 0 15px 0 30px;
        color: #999; }
        .component.tabList .item:hover {
            background-color: #f7f7ff; }
        .component.tabList .item:first-of-type {
            border-left: 1px solid #ddd; }
        .component.tabList .item.active {
            background-color: #fff;
            border-bottom-color: #fff;
            color: #000; }
        .component.tabList .item.online {
            background-image: url("https://cdn3.iconfinder.com/data/icons/sweetiev3/png-24/16-circle-green.png"); }

/* spa-component-list: release */
.component.tabSystem {
    top: 47px;
    bottom: 0;
    left: 0;
    right: 0;
    height: initial; }
    .component.tabSystem > .taskListFilters {
        position: absolute;
        top: 10px;
        left: 10px;
        height: 26px;
        width: 210px; }
        .component.tabSystem > .taskListFilters > input {
            width: 100%;
            height: 100%;
            box-sizing: border-box;
            outline: none;
            border: 1px solid #ddd;
            font-size: 14px;
            background: url("https://cdn4.iconfinder.com/data/icons/small-n-flat/24/search-16.png") no-repeat 6px center;
            padding: 0 5px 0 26px; }
            .component.tabSystem > .taskListFilters > input:focus {
                background-color: #fffff4; }
    .component.tabSystem > .taskList {
        position: absolute;
        top: 46px;
        left: 10px;
        bottom: 10px;
        width: 210px;
        overflow: auto; }
    .component.tabSystem > .taskLogsFilters {
        position: absolute;
        top: 10px;
        height: 26px;
        left: 230px;
        right: 10px; }
        .component.tabSystem > .taskLogsFilters > .component.button {
            margin-right: 10px; }
            .component.tabSystem > .taskLogsFilters > .component.button.side {
                background-image: url("https://cdn2.iconfinder.com/data/icons/ledicons/layout_split.png"); }
            .component.tabSystem > .taskLogsFilters > .component.button.clear {
                background-image: url("https://cdn3.iconfinder.com/data/icons/tango-icon-library/48/edit-clear-16.png"); }
            .component.tabSystem > .taskLogsFilters > .component.button.reset {
                background-image: url("https://cdn1.iconfinder.com/data/icons/fs-icons-ubuntu-by-franksouza-/16/gtk-cancel.png"); }
        .component.tabSystem > .taskLogsFilters > input {
            box-sizing: border-box;
            vertical-align: bottom;
            outline: none;
            border: 1px solid #ddd;
            font-size: 14px;
            margin-right: 10px;
            height: 100%;
            padding: 0 5px 0 26px; }
            .component.tabSystem > .taskLogsFilters > input.logsInclude {
                background: url("https://cdn4.iconfinder.com/data/icons/small-n-flat/24/search-16.png") no-repeat 6px center; }
            .component.tabSystem > .taskLogsFilters > input.tagsInclude, .component.tabSystem > .taskLogsFilters > input.tagsExclude {
                background: url("https://cdn4.iconfinder.com/data/icons/berlin/16x16/cost.png") no-repeat 6px center; }
            .component.tabSystem > .taskLogsFilters > input:focus {
                background-color: #fffff4; }
    .component.tabSystem > .console {
        position: absolute;
        top: 46px;
        left: 230px;
        bottom: 46px;
        right: 10px;
        overflow: auto; }
    .component.tabSystem > .taskExec {
        position: absolute;
        left: 230px;
        bottom: 10px;
        right: 10px;
        height: 26px; }
        .component.tabSystem > .taskExec > input {
            width: 100%;
            height: 100%;
            box-sizing: border-box;
            outline: none;
            border: 1px solid #ddd;
            font-size: 14px;
            background: url("https://cdn4.iconfinder.com/data/icons/mayssam/512/development-16.png") no-repeat 6px center;
            padding: 0 5px 0 26px; }
            .component.tabSystem > .taskExec > input:focus {
                background-color: #fffff4; }
    .component.tabSystem.full > .taskListFilters, .component.tabSystem.full > .taskList {
        visibility: hidden; }
    .component.tabSystem.full > .taskLogsFilters, .component.tabSystem.full > .console, .component.tabSystem.full > .taskExec {
        left: 10px; }

/* spa-component-list: release */
.component.tabTarget {
    top: 47px;
    bottom: 0;
    left: 0;
    right: 0;
    height: initial; }
    .component.tabTarget > .logsFilters {
        position: absolute;
        top: 10px;
        height: 26px;
        left: 10px;
        right: 10px; }
        .component.tabTarget > .logsFilters > .component.button {
            margin-right: 10px; }
            .component.tabTarget > .logsFilters > .component.button.clear {
                background-image: url("https://cdn3.iconfinder.com/data/icons/tango-icon-library/48/edit-clear-16.png"); }
            .component.tabTarget > .logsFilters > .component.button.reset {
                background-image: url("https://cdn1.iconfinder.com/data/icons/fs-icons-ubuntu-by-franksouza-/16/gtk-cancel.png"); }
        .component.tabTarget > .logsFilters > input {
            box-sizing: border-box;
            vertical-align: bottom;
            outline: none;
            border: 1px solid #ddd;
            font-size: 14px;
            margin-right: 10px;
            height: 100%;
            padding: 0 5px 0 26px; }
            .component.tabTarget > .logsFilters > input.logsInclude {
                background: url("https://cdn4.iconfinder.com/data/icons/small-n-flat/24/search-16.png") no-repeat 6px center; }
            .component.tabTarget > .logsFilters > input.tagsInclude, .component.tabTarget > .logsFilters > input.tagsExclude {
                background: url("https://cdn4.iconfinder.com/data/icons/berlin/16x16/cost.png") no-repeat 6px center; }
            .component.tabTarget > .logsFilters > input:focus {
                background-color: #fffff4; }
    .component.tabTarget > .console {
        position: absolute;
        top: 46px;
        left: 10px;
        bottom: 46px;
        right: 10px;
        overflow: auto; }
    .component.tabTarget > .codeExec {
        position: absolute;
        left: 10px;
        bottom: 10px;
        right: 10px;
        height: 26px; }
        .component.tabTarget > .codeExec > input {
            width: 100%;
            height: 100%;
            box-sizing: border-box;
            outline: none;
            border: 1px solid #ddd;
            font-size: 14px;
            background: url("https://cdn4.iconfinder.com/data/icons/mayssam/512/development-16.png") no-repeat 6px center;
            padding: 0 5px 0 26px; }
            .component.tabTarget > .codeExec > input:focus {
                background-color: #fffff4; }

/* spa-component-list: release */
.component.taskList {
    border: 1px solid #ddd; }
    .component.taskList .item {
        height: 26px;
        line-height: 26px;
        padding: 0 20px 0 5px;
        border-bottom: 1px solid #eee;
        cursor: pointer;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis; }
        .component.taskList .item:hover {
            background-color: #f7f7ff; }
        .component.taskList .item:last-of-type {
            border-bottom: none; }
        .component.taskList .item.running {
            background-color: #f4fff4; }
        .component.taskList .item.ok {
            background: url("https://cdn0.iconfinder.com/data/icons/very-basic-android-l-lollipop-icon-pack/24/checkmark-16.png") no-repeat right center; }

