/* spa-app: release */
html, body {
    height: 100%;
    width: 100%;
    font-size: 14px;
    font-family: arial, sans-serif;
    overflow: hidden;
    margin: 0;
    padding: 0; }

table {
    border: 0;
    border-collapse: collapse;
    border-spacing: 0; }
    table td {
        padding: 0; }

.maxh {
    height: 100%; }

.maxw {
    width: 100%; }

a {
    text-decoration: none; }

/* spa-component: release */
.component {
    box-sizing: border-box; }
    .component.hidden {
        display: none !important; }

/* spa-component-button: release */
.component.button {
    background-color: #dde9ff;
    display: inline-table;
    height: 32px;
    cursor: pointer; }
    .component.button:hover {
        background-color: #bbd3ff; }
    .component.button.focus {
        background-color: #bbd3ff; }
    .component.button.click {
        background-color: #a8c9ff; }
    .component.button .icon {
        height: 32px;
        width: 32px;
        display: table-cell;
        background: no-repeat center center; }
    .component.button .text {
        display: table-cell;
        padding: 2px 10px;
        vertical-align: middle;
        text-align: center; }
        .component.button .text:empty {
            padding: 0; }

/* spa-component-page: release */
.component.page {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    visibility: hidden;
    overflow: hidden; }
    .component.page.active {
        visibility: inherit; }

/* application: release */
#pageInit {
    display: table; }
    #pageInit > .cell {
        display: table-cell;
        position: relative;
        text-align: center;
        vertical-align: middle;
        font-size: 150%; }
        #pageInit > .cell > .version {
            position: absolute;
            bottom: 50px;
            right: 50px;
            font-size: 50%; }

#pageMain {
    box-sizing: border-box; }
    #pageMain > table {
        width: 100%;
        height: 100%; }
    #pageMain td.header {
        padding: 5px;
        height: 20px;
        background-color: #fdfdfd;
        border-bottom: 1px solid #eee; }
    #pageMain td.content {
        padding: 5px;
        vertical-align: top; }
    #pageMain td.footer {
        padding: 5px;
        height: 32px;
        text-align: center;
        border-top: 1px solid #eee;
        background-color: #fdfdfd; }
    #pageMain .group {
        border: 1px solid #ddd;
        margin-bottom: 15px; }
        #pageMain .group > .title {
            height: 28px;
            line-height: 28px;
            background-color: #faffd7;
            padding: 0 10px;
            border-bottom: 1px solid #ddd;
            font-size: 18px;
            text-align: center; }
        #pageMain .group .button {
            height: 25px;
            line-height: 25px;
            border: 1px solid #ddd;
            background-color: #eee;
            margin: 1px;
            padding: 0 5px;
            cursor: pointer;
            display: inline-block; }
            #pageMain .group .button.main {
                font-weight: bold; }
            #pageMain .group .button.default {
                font-style: italic; }
            #pageMain .group .button.develop {
                text-decoration: underline; }
            #pageMain .group .button.running {
                background-color: #caffc2; }
            #pageMain .group .button:hover {
                background-color: #ddd; }
                #pageMain .group .button:hover.running {
                    background-color: #84ff92; }

#pageMainHeaderLink {
    float: right;
    line-height: 32px; }

#pageMainTabTarget {
    display: none; }

#pageMainTabToolBar {
    height: 24px;
    line-height: 24px;
    border: 1px solid #eee;
    padding: 0 5px;
    background-color: #fdfdfd; }
    #pageMainTabToolBar a {
        margin-right: 10px; }

#pageMainTabTargetList {
    display: none;
    /*position: absolute;
    top: 78px;
    bottom: 47px;
    left: 5px;
    right: 5px;
    overflow: auto;
    //height: 100%;

    border: 1px solid #eee;
    //height: 100%;

    .item {
        font-size: 13px;
        //padding: 3px;
        height: 24px;
        border-bottom: 1px solid #eee;

        &:hover {
            background-color: #f7f7ff;
        }

        &:first-of-type {
            //border-bottom: none;
        }

        &.fail {
            background-color: #fff0f0;
        }

        &.warn {
            background-color: #fffff0;
        }

        > .info {
            height: 24px;
            line-height: 24px;
            padding: 0 5px;
            font-family: monospace;
            overflow: hidden;
        }

        > .tag {
            cursor: pointer;
            height: 18px;
            line-height: 18px;
            float: right;
            background-color: #f4fff4;
            border: 1px solid #eee;
            padding: 0 6px;
            margin: 2px 2px 2px 0;

            &:hover {
                background-color: #bfdfff;
                border-color: #bfdfff;
            }
        }
    }*/ }

/* spa-component-list: release */
.component.console {
    position: absolute;
    top: 78px;
    bottom: 47px;
    left: 5px;
    right: 5px;
    overflow: auto;
    border: 1px solid #eee; }
    .component.console .item {
        font-size: 13px;
        height: 24px;
        border-bottom: 1px solid #eee; }
        .component.console .item:hover {
            background-color: #f7f7ff; }
        .component.console .item.fail {
            background-color: #fff0f0; }
        .component.console .item.warn {
            background-color: #fffff0; }
        .component.console .item > .info {
            height: 24px;
            line-height: 24px;
            padding: 0 5px;
            font-family: monospace;
            overflow: hidden; }
        .component.console .item > .tag {
            cursor: pointer;
            height: 18px;
            line-height: 18px;
            float: right;
            background-color: #f4fff4;
            border: 1px solid #eee;
            padding: 0 6px;
            margin: 2px 2px 2px 0; }
            .component.console .item > .tag:hover {
                background-color: #bfdfff;
                border-color: #bfdfff; }
    .component.console > input {
        font-family: monospace;
        border: none;
        outline: none;
        width: 100%; }

