#pageMain {
    div {
        box-sizing: border-box;
    }

    .group {
        //padding: 0 5px 5px 5px;
        border: 1px solid #ddd;
        margin: 5px 5px 15px 5px;

        > .title {
            height: 40px;
            line-height: 40px;
            background-color: #faffd7;
            padding: 0 10px;
            border-bottom: 1px solid #ddd;
            font-size: 20px;
            text-align: center;
        }

        .button {
            &.main {
                font-weight: bold;
            }
            &.default {
                font-style: italic;
            }
            &.develop {
                text-decoration: underline;
            }
            &.running {
                background-color: #caffc2;
            }
            &:hover {
                background-color: #ddd;

                &.running {
                    background-color: #84ff92;
                }
            }

            height: 28px;
            line-height: 28px;
            //width: 175px;
            border: 1px solid #ddd;
            background-color: #eee;
            margin: 5px;
            padding: 0 10px;
            cursor: pointer;
            display: inline-block;
        }
    }
}

#pageMainHeader {
    padding: 5px;
}

#pageMainHeaderLink {
    float: right;
    line-height: 32px;
}
