// top-level page block
#pageMain

    table
        tr
            td.header
                //#pageMainHeader
                #pageMainButtonSystem
                #pageMainButtonTarget
                a#pageMainHeaderLink
        tr
            td.content
                #pageMainTabSystem
                #pageMainTabTarget
                    #pageMainTabTargetList
        tr
            td.footer footer
