// top-level page block
#pageMain

    #pageMainHeader
        #pageMainTabList
        //#pageMainButtonSystem
        //#pageMainButtonTarget
        a#pageMainHeaderLink

    .content
        table
            tr
                td.line
                    input#pageMainTaskFilter(type="text" placeholder="filter by task name")
                td.line
            tr
                td.side(rowspan=2)
                    #pageMainTaskList
                td.logs
                    #pageMainTaskLogs
            tr
                td.line
                    input.code#pageMainTabInput(type="text" placeholder="type your code here")

        #pageMainTabSystem


        #pageMainTabTarget
            #pageMainTabToolBar
                a#pageMainLinkClear(href="#") clear
                a#pageMainLinkReset(href="#") reset
                input#pageMainFilterText(type="text" placeholder="filter text")
                input#pageMainTagsInclude(type="text" placeholder="include tags")
                input#pageMainTagsExclude(type="text" placeholder="exclude tags")
            #pageMainTabTargetList
            #pageMainTabConsole


    //table
    //    //tr
    //    //    td.header
    //    //        //#pageMainHeader
    //    //        #pageMainButtonSystem
    //    //        #pageMainButtonTarget
    //    //        a#pageMainHeaderLink
    //    tr
    //        td.content
    //            #pageMainTabSystem
    //                #pageMainTaskFilter
    //                #pageMainTaskList
    //            #pageMainTabTarget
    //                #pageMainTabToolBar
    //                    a#pageMainLinkClear(href="#") clear
    //                    a#pageMainLinkReset(href="#") reset
    //                    input#pageMainFilterText(type="text" placeholder="filter text")
    //                    input#pageMainTagsInclude(type="text" placeholder="include tags")
    //                    input#pageMainTagsExclude(type="text" placeholder="exclude tags")
    //                #pageMainTabTargetList
    //                #pageMainTabConsole
    //                input#pageMainTabInput(type="text" placeholder="type your code here")
    //    tr
    //        td.footer footer
