// top-level page block
#pageMain

    table
        tr
            td.header
                //#pageMainHeader
                #pageMainButtonSystem
                #pageMainButtonTarget
                a#pageMainHeaderLink
        tr
            td.content
                #pageMainTabSystem
                #pageMainTabTarget
                    #pageMainTabToolBar
                        a#pageMainLinkClear(href="#") clear
                        a#pageMainLinkReset(href="#") reset
                        input#pageMainFilterText(type="text" placeholder="filter text")
                        input#pageMainTagsInclude(type="text" placeholder="include tags")
                        input#pageMainTagsExclude(type="text" placeholder="exclude tags")
                    #pageMainTabTargetList
                    #pageMainTabConsole
        tr
            td.footer footer
